@charset "utf-8";
body header, body nav, body main, body footer {
    width: 1200px;
    padding: 0;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}
body header {
    background-color: #B7F3F8;
    height: 200px;
}
* {
    padding: auto;
    margin: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main section table {
    height: 0px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-color: #DAFAFD;
}


#menu_interno li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 100px;
}
#menu_internonav {
    display: inline-block;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    width: 1200px;
    height: 50px;
    text-align: center;
}
#tabla_2 {
    -webkit-box-shadow: 0px 0px #EF2DD4;
    box-shadow: 0px 0px #EF2DD4;
}
#tabla_3 {
    -webkit-box-shadow: 0px 0px #035776;
    box-shadow: 0px 0px #035776;
    border-color: #035776;
}
#tabla_2 th {
    color: #035776;
    background-color: #F0B5B6;
}



#menu_internonav li {
    display: inline-block;
    margin-left: 20px;
    padding-left: auto;
    padding-right: auto;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #022532;
    font-size: 20px;
    background-color: #6D9AEB;
    text-align: center;
    font-weight: bold;
    page-break-before: auto;
    margin-right: 20px;
}
#menu_internonav a:link {
    text-decoration: none;
    color: #C1C7F9;
}





body header h1 {
    height: 80px;
    font-size: 60px;
    padding-top: 60px;
    width: 1200px;
    text-align: center;
    color: #00212E;
    text-shadow: 10px 10px 10px #1388B2;
}
#menu_internonav li a:visited {
    color: #035776;
}


body nav {
    background-color: #035776;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    padding-top: 5px;
    width: 1200px;
}
body main section {
    width: 900px;
    height: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #6DA2B5;
}
#menu_interno li {
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    background-color: #035776;
    color: #B7F3F8;
    height: 40px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    font-size: 14px;
}



body footer {
    background-color: #035776;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    color: #F7D1D2;
}
#menu_interno {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    padding-top: 20px;
}

body footer h6 {
    padding-right: 100px;
    padding-left: 100px;
    width: 1200px;
    height: 30px;
    top: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body main {
    background-color: #B7F3F8;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    box-sizing: content-box;
    height: auto;
    width: 1200px;
}
#menu_inicio {
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#menu_inicio .cuadromenu_inicio {
    width: 100px;
    height: 50px;
    display: inline-block;
    color: #C1C7F9;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-variant: normal;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-color: #F7D1D2;
    border-style: solid;
}



section p a:link {
    color: #035776;
}
#seccion_presentación h2 {
    height: 50px;
}




main section h2 {
    padding-top: 0px;
    padding-bottom: 10px;
    color: #035776;
    height: 20px;
}
.foto_presentacion {
    width: 40%;
    height: auto;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.parrafo_presentacion {
    text-align: justify;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#seccion_presentación #titulopresentacion {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}



section p a:visited {
    color: #8F54B1;
}
section p a:hover  {
    color: #6FAB32;
    text-shadow: 2px 4px #035776;
}
#menu_interno li a:link  {
    color: #CEF6FA;
    text-decoration: none;
}
#menu_interno li a:visited {
    color: #DB76FC;
}
#menu_interno li a:hover {
    color: #F0393D;
    text-shadow: 10px 1px 30px #E8E2E2;
}





#m1 {
}
#m2 {
}
#m3 {
}
#m4 {
}
#m5 {
}
#tabla_3 {
    border-color: #F88D8F;
    border-style: solid;
    border-collapse: collapse;
}
#tabla_2 {
    padding: 30;
}
#tabla_4 tr:nth-child(even)  {
    background-color: #F7D1D2;
}
#tabla_4 tr:nth-child(odd) {
    background-color: #F88D8F;
}


#tabla_2 td {
    color: #035776;
    background-color: #DAFAFD;
    width: 100px;
    height: 20px;
    margin: 20;
    padding: 40;
}
#tabla_4 {
}
#tabla_4 thead {
    height: 60px;
    background-color: #F0B5B6;
}
#tabla_4 th {
    width: 0px;
    height: 20px;
    background-color: #035776;
    color: #F7D1D2;
}
#tabla_5 {
}
#tabla_5 td:nth-child(odd) {
    background-color: #F7D1D2;
    height: 30px;
    text-align: center;
}
#tabla_5 td:nth-child(even) {
    background-color: #F88D8F;
    height: 40px;
    text-align: center;
}
#tabla_5 th {
    background-color: #035776;
    height: 30px;
    color: #F7D1D2;
}
#tabla_6 {
    background-color: #F7D1D2;
}
#tabla_6 td {
    height: 30px;
}
#tabla_6 th {
    color: #035776;
}
#tabla_6 tr:hover {
    background-color: #F88D8F;

}



#tabla_6 {
}
#tabla_7 {
    background-color: #F88D8F;
    border-collapse: collapse;
    border-spacing: 3px 0px;
    height: 30px;
    width: 1000px;
    border: thick solid #F88D8F;
}

#tabla_7 th {
    background-color: #035776;
    color: #F7D1D2;
    height: 40px;
}
#tabla_7 td {
    background-color: #F7D1D2;
}
#tabla_receptiva {
    overflow-x: scroll;
}
.foto_presentacion {
}
.parrafo_presentacion {
}
#seccion_presentación {
}
#titulopresentacion {
    color: #F7D1D2;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-weight: bold;
    font-size: xx-large;
}
#menu_inicio .cuadromenu_inicio a {
    color: #F7D1D2;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
#menu_inicio .cuadromenu_inicio a:link {
    color: #F7D1D2;
}

#menu_inicio .cuadromenu_inicio a:visited {
    color: #DAFAFD;
}

#menu_inicio .cuadromenu_inicio a:hover {
    color: #9DA7F4;
}


#menu_inicio {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.cuadromenu_inicio {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.menuenlaces {
    width: 60px;
}
#menu_tablas {
}
.cuadro_tablas {
}
#menu_tablas {
    width: 1200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#menu_tablas .cuadro_tablas {
    display: inline-block;
    width: 100px;
    height: 25px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    background-color: #C1C7F9;
    color: #035776;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
#menu_tablas .cuadro_tablas a {
    text-decoration: none;
    color: #035776;
}
#menu_tablas .cuadro_tablas a:visited {
    color: #F7D1D2;
}
#menu_tablas .cuadro_tablas a:hover {
    color: #495CF4;
    font-style: italic;
}
